{% extends "base.html" %}

{% block title %}Balanced Delusion and Other Thoughts{% endblock %}

{% block description %}Attempting to provide something useful{% endblock %}

{% block extracss %}
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/blog-home.css" rel="stylesheet">
{% endblock %}



{% block content %}
            <div class="col-md-8">
                <h1 class="page-header">
                    Page Heading
                    <small>Secondary Text</small>
                </h1>

                {% for post in posts %}
                <h2><a href="{{post.slug}}">{{post.title}}</a></h2>
                <p class="lead">by {{post.author}}</p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.pub_date}}</p>
                <hr>
                <img class="img-responsive" src="{{post.main_image}}" alt="">
                <hr>
                <p>{{post.content|striptags|truncatewords:30}}</p>
                <a class="btn btn-primary" href="{{post.slug}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>

{% endblock %}