{% extends "base.html" %}

{% block title %}Thoughts and Delusions of Ryan Carrigan{% endblock %}

{% block description %}The Blog of Ryan Carrigan: sales rep turned digital marketer with a little bit of developer{% endblock %}

{% block extracss %}
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/blog-home.css" rel="stylesheet">
{% endblock %}

{% block relcanonical %}<link rel=”canonical” href=”http://www.carriganisms.com” />{% endblock %}

<!-- Open graph tags -->
{% block ogtitle %}Thoughts and Delusions of Ryan Carrigan{% endblock %}
{% block ogdescription %}The Blog of Ryan Carrigan: sales rep turned digital marketer with a little bit of developer{% endblock %}
{% block ogimage %}{% endblock %}
<!-- End open graph tags -->

{% block content %}
            <div class="col-md-8">
                <h2 class="page-header">
                    <small>"It is far more profitable to sell advice than to take it" - Forbes Sr.</small>
                </h2>

                {% for post in posts %}
                <h2><a href="{% url 'blogengine:post_detail' slug=post.slug %}">{{post.title}}</a></h2>
                <p class="lead">by {{post.author.first_name}} {{post.author.last_name}}</p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.pub_date}}</p>
                <hr>
                <img class="img-responsive" src="{{post.main_image}}" alt="">
                <hr>
                <p class="post-paragraphs">{{post.content|striptags|truncatewords:38}}</p>
                <a class="btn btn-primary" href="{% url 'blogengine:post_detail' slug=post.slug %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr />
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">

                    {% if posts.has_previous %}
                    <li class="previous">
                        <a href="?page={{ posts.previous_page_number }}">&larr; Older</a>
                    </li>
                    {% endif %}

                    {% if posts.has_next %}
                    <li class="next">
                        <a href="?page={{ posts.next_page_number }}">Newer &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

{% endblock %}