{% extends "base.html" %}

{% block title %}{{Post.title}}{% endblock %}

{% block description %}{{Post.description}}{% endblock %}

{% block extracss %}
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/blog-home.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block relcanonical %}<link rel=”canonical” href=”http://www.carriganisms.com{% url 'blogengine:post_detail' slug=Post.slug %}” />{% endblock %}

{% block ogslug %}{% url 'blogengine:post_detail' slug=Post.slug %}{% endblock %}
{% block ogtitle %} {{Post.title}} {% endblock %}
{% block ogdescription %} {{Post.description}} {% endblock %}
{% block ogimage %} {{Post.og_image}} {% endblock %}

{% block content %}
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{Post.title}}</h1>

                <!-- Author -->
                <p class="lead">
                    by {{Post.author.first_name}} {{Post.author.last_name}}
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{Post.pub_date}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="{{Post.main_image}}" alt="">

                <hr>

                <!-- Post Content -->
                {{Post.content|safe}}

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = 'carriganisms'; // required: replace example with your forum shortname

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>     
                </div>

            </div>
{% endblock %}