{% extends "base.html" %}

{% block title %}Post in the {{cat_detail.name}} Category{% endblock %}

{% block description %}A list of articles relating to the {{cat_detail.name}} category{% endblock %}

{% block extracss %}
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/blog-home.css" rel="stylesheet">
{% endblock %}

<!-- Open graph tags -->
{% block ogtitle %}Post in the {{cat_detail.name}} Category{% endblock %}
{% block ogdescription %}A list of articles relating to the {{cat_detail.name}} category{% endblock %}
{% block ogimage %}{% endblock %}
<!-- End open graph tags -->

{% block content %}
            <div class="col-md-8">
                {% for post in posts %}
                <h2><a href="{% url 'blogengine:post_detail' slug=post.slug %}">{{post.title}}</a></h2>
                <p class="lead">by {{post.author}}</p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.pub_date}}</p>
                <hr>
                <img class="img-responsive" src="{{post.main_image}}" alt="">
                <hr>
                <p>{{post.content|striptags|truncatewords:30}}</p>
                <a class="btn btn-primary" href="{% url 'blogengine:post_detail' slug=post.slug %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">

                    {% if posts.has_previous %}
                    <li class="previous">
                        <a href="?page={{ posts.previous_page_number }}">&larr; Older</a>
                    </li>
                    {% endif %}

                    {% if posts.has_next %}
                    <li class="next">
                        <a href="?page={{ posts.next_page_number }}">Newer &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

{% endblock %}